/* Base */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}

p{
    font-size: 4rem;
    font-weight: 500;
    color: #333;
}

dialog{
 
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 100%;
    text-align: center;
}

/* =---------= */


.game-container{
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3 , 180px);
    gap: 10px;


}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #695f5f;
    border-radius: 5px;
    border: white 1px solid;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
    color: white;
    font-size: 60px;
}
.box:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #7c6d6d;
}

@media (max-width: 600px){
    .game-container{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3 , 100px);
    }
}
@media (max-width: 400px){
    .game-container{
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3 , 80px);
    }
}




